.card{
  /*
  border-color: black;
  border-style: solid;
  border-width: 5px; */
}
.card-image {
    max-width: 400px;
    max-height: 200px;
}

.grid-tile{
  /*
  border-color: black;
  border-style: solid;
  border-width: 5px; */
}

.title{
  text-align: center;
}
