<form class="example-form">
  <mat-form-field class="example-full-width" appearance="fill">
    <input
      type="text"
      placeholder="Select an NBA player"
      aria-label="Select player"
      matInput
      [formControl]="myControl"
      [matAutocomplete]="auto"
    />
    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="checkAnswer()">
      <mat-option
        *ngFor="let player of filteredOptions$ | async"
        [value]="player"
      >
        {{ player }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</form>
